In [19]:
import os
import pandas as pd
import glob
os.chdir("/Documents/ETL_group_7/Resources")
from sqlalchemy import create_engine

FileNotFoundError: [WinError 3] The system cannot find the path specified: '/Documents/ETL_group_7/Resources'

In [12]:
csv_file = os.path.join(
    
    'Resources',
    '2016-first-quarter-stolen-guns-data-3.csv'
    

)

gun_data_df = pd.read_csv(csv_file)
gun_data_df.head()

,Property Number,Date,Brand,Model,Color,Stolen,Stolen From,Status,Incident number,Agency
0,P13827,01/06/2016,HI POINT,9MM,BLK,Stolen Locally,Vehicle,Recovered Locally,B16-00694,BPD
1,P14174,01/15/2016,JENNINGS J22,NaN,COM,Stolen Locally,Residence,Not Recovered,B16-01892,BPD
2,P14377,01/24/2016,CENTURY ARMS,M92,NaN,Stolen Locally,Residence,Recovered Locally,B16-03125,BPD
3,P14707,02/08/2016,TAURUS,PT740 SLIM,NaN,Stolen Locally,Residence,Not Recovered,B16-05095,BPD
4,P15042,02/23/2016,HIGHPOINT,CARBINE,NaN,Stolen Locally,Residence,Recovered Locally,B16-06990,BPD

In [13]:
csv_file = os.path.join(
    
    'Resources',
    '2016-fourth-quarter-stolen-gun-data-9.csv'

)

gun2_data_df = pd.read_csv(csv_file)
gun2_data_df.head()

,Property Number,Date,Brand,Model,Color,Stolen,Stolen From,Status,Incident number,Agency
0,P22093,10/25/2016,SMITH AND WESSON,SD9VE,NaN,Stolen Locally,Vehicle,Not Recovered,B16-42866,BPD
1,P22183,10/27/2016,TAURUS,PT111G2,BLACK,Stolen Locally,Residence,Not Recovered,B16-43134,BPD
2,P22497,11/07/2016,SIG SAUER,P290,NaN,Stolen Locally,Vehicle,Not Recovered,B16-44838,BPD
3,P22910,11/18/2016,TAURUS,85UL,SILVER,Stolen Locally,Residence,Not Recovered,B16-46503,BPD
4,P23536,12/07/2016,SMITH & WESSON,NaN,NaN,Stolen Locally,Vehicle,Not Recovered,B16-48692,BPD

In [16]:
#list_of_csv_filenames = ['../Resources/2016-first-quarter-stolen-guns-data-3.csv',
#'../Resources/2016-fourth-quarter-stolen-gun-data-9.csv',
#'2016-second-quarter-stolen-gun-data-4.csv',
#'2016-third-quarter-stolen-gun-data-2.csv',
#'2017-first-quarter-stolen-gun-data-10.csv',
#'2017-fourth-quarter-stolen-gun-data-18.csv',
#'2017-second-quarter-stolen-gun-data-6.csv',
#'2017-third-quarter-stolen-gun-data-15.csv',
#'2018-first-quarter-stolen-gun-data-xlsx-12.csv',
#'2018-fourth-quarter-stolen-guns-xlsx-7.csv',
#'2018-second-quarter-stolen-guns-xlsx-13.csv',
#'2018-third-quarter-stolen-guns-xlsx-8.csv',
#'2019-first-quarter-stolen-gun-data-17.csv',
#'2019-fourth-quarter-stolen-gun-data-16.csv',
#'2019-second-quarter-stolen-gun-data-1.csv',
#'2019-third-quarter-stolen-guns-14.csv',
#'2020-first-quarter-stolen-guns-11.csv',
#'2020-second-quarter-stolen-gun-data-5.csv',
#]

#all_dfs = []
#for i in range(1, 5):
#    temp = pd.read_csv(list_of_csv_filesnames[i-1])
#    temp['Number'] = i
#    all_dfs.append(temp)
#full_df = pd.concat(all_dfs)
#full_df.to_csv('output_filename.csv', index=False)

In [17]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

NameError: name 'glob' is not defined

In [18]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

NameError: name 'all_filenames' is not defined